<footer>
  <div class="row">
    <div class="large-3 small-3 columns"><img class="avatar" src="https://pbs.twimg.com/profile_images/474848741849968641/vN5qcXaZ_400x400.jpeg"/></div>
    <div class="large-5 small-9 columns">
      <div class="about">
        <h2>Hi, I'm Adam Brault.</h2>
        <p>I'm a cultivator of communities and talents of the people around me. I also founded <a href="http://andyet.com" rel="org">&yet</a>.</p>
        <p>I periodically write an email sharing things I've learned, problems I'm working through, and ideas I'm excited about. You can <a href="http://agoodcorner.com">sign up here</a>.</p>
        <p>You can also find me on <a href="https://twitter.com/adambrault" rel="me">Twitter</a> and <a href="https://github.com/adambrault" rel="me">GitHub</a>.</p>
      </div>
    </div>
    <div class="large-3 small-9 columns">
      <div class="archives">
        <h2>Blog archives</h2>
        <nav>
            <a href="/2015">2015</a>
            <a href="/2014">2014</a>
            <a href="/2013">2013</a>
            <a href="/2012">2012</a>
            <a href="/2011">2011</a>
        </nav>
      </div>
    </div>
  </div>
</footer>